@import '../../../styles/mixins/global.scss';

.hero-banner-design {
    background-image: url("../../../assets/images/hero-banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(0, 0, 0, 0.4);
    }

    @include breakpoint("max-md"){
        height: 480px;
    }

    @include breakpoint("max-sm") {
        background-image: url("../../../assets/images/mobile-banner.svg");
        height: 485px;
    }

    .navbar-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 40px 50px;

        @include breakpoint("max-md") {
            padding: 27px 30px 0 30px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        
        .button-top{
            @include breakpoint("max-md"){
                display: none;
            }
        }

        .container-logo{
            display: flex;

            .logo {
                max-width: 100%;
                width: 100%;    
                cursor: pointer;
                position: relative;
        
                
        
                img:first-child {
                    @include breakpoint("max-sm") {
                        display: none;
                    }
                }
        
                img:last-child {
                    display: none;
        
                    @include breakpoint("max-sm") {
                        display: block;
                    }
                }
        
                img {
                    @include breakpoint("max-md") {
                        max-width: 70px;
                    }
                }
            }
        }
    }

    .hero-banner-text {
        padding: 11rem 0 0 0;
        position: relative;

        @include breakpoint("max-md") {
            padding: 100px 0 0 0;
        }

        .text-style {
            h1 {
                font-weight: 700;
                font-size: 2.5rem;
                line-height: 2.5rem;
                font-family: "VisbyBold";
                color: #fff;
                max-width: 40rem;
                margin: 0 0 10px 0;

                @include breakpoint("max-md") {
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 24px;
                }

                @include breakpoint("max-sm") {
                    max-width: 288px;
                }

                a {
                    font-weight: 400;
                    color: #fff;
                }
            }

            .subtitle{
                color: white;
                font-size: 2rem;
                line-height: 2rem;
                font-weight: 300;
                margin-bottom: 1rem;

                @include breakpoint("max-md"){
                    font-size: 1.5rem;
                    line-height: 1.25rem;
                }
            }

            p {
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 25px;
                font-family: "VisbyRegular";
                margin: 0 0 40px 0;
                max-width: 461px;
                color: #fff;

                @include breakpoint("max-sm") {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                    max-width: 288px;
                    margin: 0 0 20px 0;
                }
            }

            
        }
        
    }
}