@import '../../../styles/mixins/global.scss';

.neo-fair-section-all-content-alignment {
    padding: 65px 0 83px 0;

    @include breakpoint("max-sm") {
        padding: 45px 0 60px 0;
    }

    .icon-image-center-alignment {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        gap: 60px;

        @include breakpoint("max-sm") {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 26px;
        }

        div:nth-child(2) {
            @include breakpoint("max-sm") {
                display: flex;
                justify-content: center;
            }
        }

        div:nth-child(4) {
            @include breakpoint("max-sm") {
                display: flex;
                justify-content: center;
            }
        }

        div {
            cursor: pointer;

            img {
                max-width: 180px;
                max-height: 90px;

                @include breakpoint("max-sm") {
                    max-width: 112px;
                    max-height: 50px;
                }
            }
        }
    }


    .two-icon-alignment {
        display: flex;
        justify-content: center;
        gap: 64px;

        div {
            cursor: pointer;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 46px;
        align-items: center;
        padding: 0 0 46px 0;

        @include breakpoint("max-sm") {
            gap: 40px;
            padding: 0 0 40px 0;
        }

        .grid-items:nth-child(2) {
            padding: 0 57px;

            @include breakpoint("max-md") {
                padding: 0 10px;
            }

        }

        .grid-items {
            .image-style {
                img {
                    width: 100%;
                    border-radius: 20px 20px 20px 100px;
                    height: 518px;

                    @include breakpoint("max-sm") {
                        height: 339px;
                    }
                }

                img:first-child {
                    @include breakpoint("max-sm") {
                        display: none;
                    }
                }

                img:last-child {
                    display: none;

                    @include breakpoint("max-sm") {
                        display: block;
                    }
                }
            }

            .white-box {
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                border-radius: 20px;
                padding: 35px 40px;

                @include breakpoint("max-sm") {
                    padding: 34px 24px;
                }



                h3 {
                    font-weight: 700;
                    color: #1F3702;
                    margin: 0 0 40px 0;
                    font-size: 20px;
                    text-align: center;
                    line-height: 24px;
                    font-family: "VisbyBold";
                }

                .main-content {}

                .all-icon-text-grid-alignment {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 24px;

                    @include breakpoint("max-md") {
                        grid-template-columns: repeat(1, 1fr);
                    }


                    .text-style {
                        p {
                            font-weight: 400;
                            font-size: 11px;
                            text-align: center;
                            line-height: 16px;
                            color: #000000;
                            font-family: "VisbyRegular";

                            @include breakpoint("max-sm") {
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 16px;
                                max-width: 193px;
                                margin: 0 auto;
                                text-align: center;
                            }
                        }
                    }

                    .icon-grid {
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 40px;
                        padding: 0 0 9px 0;

                        @include breakpoint("max-md") {
                            grid-template-columns: 1fr;
                            gap: 20px;

                        }

                        .icon-design {
                            display: flex;
                            justify-content: center;

                            img {
                                max-width: 50px;
                                max-height: 40px;
                            }

                            @include breakpoint("max-sm") {
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            img {
                                @include breakpoint("max-sm") {
                                    width: 30px;
                                    height: 100%;
                                }
                            }
                        }

                        .icon-grid-items {
                            h4 {
                                font-weight: 700;
                                color: #1F3702;
                                margin: 0;
                                font-size: 14px;
                                line-height: 17px;
                                font-family: "VisbyBold";
                                text-align: center;
                                height: 34px;

                                @include breakpoint("max-md") {
                                    height: auto;
                                }

                                @include breakpoint("max-sm") {
                                    font-weight: 700;
                                    height: auto;
                                    font-size: 13px;
                                    line-height: 16px;
                                    text-align: center;
                                    max-width: 169px;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    .section-title {
        padding: 0 0 60px 0;

        @include breakpoint("max-sm") {
            padding: 0 0 75px 0;
        }

        h4 {
            font-weight: 500;
            font-size: 32px;
            font-family: "VisbyCF-Medium";
            line-height: 39px;
            color: #1F3702;
            margin: 0 0 11px 0;

            @include breakpoint("max-sm") {
                font-weight: 500;
                font-size: 20px;
                margin: 0 0 10px 0;
                line-height: 24px;

            }
        }

        p {
            font-weight: 400;
            letter-spacing: .5px;
            font-size: 14px;
            color: #000000;
            line-height: 19px;
            max-width: 883px;
            font-family: "VisbyLight";

            @include breakpoint("max-sm") {
                font-weight: 400;
                font-size: 11px;
                line-height: 19px;
                max-width: 316px;
            }

        }
    }
}

.zun-button {
    .button {
        display: flex;
        padding: 0 0 87px 0;
        align-items: center;
        justify-content: center;

        @include breakpoint("max-sm") {
            padding: 0 0 40px 0;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            img {
                @include breakpoint("max-sm") {
                    max-width: 20px;
                }
            }
        }
    }
}