@import '../../styles/mixins/global.scss';

.main-section-steper-content-alignment {
    height: 100vh;
    width: 100%;
    background: #A3BA7F;

    @include breakpoint("max-sm") {
        height: auto;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 360px;
        grid-gap: 0;
        gap: 0;
        height: 100vh;

        @include breakpoint("max-sm") {
            height: auto;
            grid-template-columns: repeat(1, 1fr);
            gap: 0;
        }

        .grid-items:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .common-text {
                position: absolute;
                left: 100px;
                bottom: 60px;

                @include breakpoint("max-sm") {
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                }

                a {
                    font-weight: 800;
                    font-size: 12px;
                    text-decoration: none;
                    line-height: 20px;
                    font-family: "VisbyBold";
                    color: #000000;
                    cursor: pointer;
                }
            }

            .ok-button {
                padding: 30px 0 0 0;

                button {
                    font-family: "Inter", sans-serif;
                    padding: 8px 20px;
                    font-weight: 700;
                    color: #000000;
                    font-size: 15px;
                    line-height: 18px;
                    background: #FFFFFF;
                    border-radius: 5px;
                    cursor: pointer;
                    border: none;
                }
            }

            .box-width {
                width: 500px;

                @include breakpoint("max-sm") {
                    width: 100%;
                    padding: 60px 20px 80px 20px;
                }

                h6 {
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 32px;
                    text-decoration-line: underline;
                    font-family: "Inter", sans-serif;
                    color: #FFFFFF;
                    margin: 0 0 18px 0;
                }


                input {
                    width: 100%;
                    height: 40px;
                    border: none;
                    border-bottom: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    background-color: transparent;
                    color: #fff;
                    color: #fff;
                    font-size: 16px;
                    line-height: 28px;
                    font-family: "Inter", sans-serif;
                    font-weight: 300;
                    margin: 0 0 8px 0;

                    &:focus {
                        outline: none;
                    }
                }

                select {
                    width: 100%;
                    height: 40px;
                    border: none;
                    border-bottom: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    background-color: transparent;
                    color: #fff;
                    color: #fff;
                    font-size: 16px;
                    line-height: 28px;
                    font-family: "Inter", sans-serif;
                    font-weight: 300;
                    margin: 0 0 8px 0;

                    option {
                        color: #000 !important;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                ::placeholder {
                    color: #fff;
                    font-size: 16px;
                    line-height: 28px;
                    font-family: "Inter", sans-serif;
                    font-weight: 300;
                }
            }
        }

        .grid-items:nth-child(2) {
            background-image: url("../../assets/images/new-banner.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;

            @include breakpoint("max-sm") {
                height: auto;
                padding: 60px 20px;
            }

            .new-image-center-alignment {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 131px;
                }
            }

            .text-style {
                padding: 0 0 16px 0;

                span {
                    display: block;
                    font-size: 11px;
                    font-weight: 500;
                    line-height: 16px;
                    color: #111;
                    font-family: "Inter", sans-serif;
                    text-align: center;
                }
            }

            .button-center-alignment {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0 40px 0;

                button {
                    font-family: 'Inter', sans-serif;
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 12px;
                    text-align: center;
                    padding: 8px 20px;
                    border: none;
                    cursor: pointer;
                    background: #FFFFFF;
                    border-radius: 5px;
                    color: #464444;
                }
            }

            .logo-center-alignment {
                display: flex;
                align-items: center;
                padding: 0 0 43px 0;
                justify-content: center;

                img {
                    max-width: 161px;
                }
            }
        }
    }
}

input {
    color-scheme: dark;
}